.therapists .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.therapists .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.therapists .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.therapists .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.therapists .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.therapists .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.therapists .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.therapists .therapists-item .therapists-img {
    position: relative;
    overflow: hidden;
}

.therapists .therapists-item .therapists-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
}

.therapists .therapists-item .therapists-img .therapists-icon {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.therapists .therapists-item .therapists-img:hover .therapists-icon {
    margin-bottom: 145px;
}

.therapists .therapists-item:hover .therapists-img::before {
    background: rgba(21, 185, 217, .3);
}

.therapists .therapists-item .therapists-content {
    color: var(--bs-primary);
    transition: 0.5s;
}

.therapists .therapists-item .therapists-content h5 {
    color: var(--bs-secondary);
    transition: 0.5s;
}

.therapists .therapists-item:hover .therapists-content h5 {
    color: var(--bs-dark);
}

.therapists .therapists-item:hover .therapists-content {
    background: var(--bs-primary);
    color: var(--bs-white);
}