<!-- Footer Start -->
<div class="container-fluid footer py-5"
     appScrollAnimation
     animationType="fadeIn"
     [animationDelay]="200">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4"><i class="fas fa-dove"></i>
                        Хармония</h4>
                    <p>Вашето спокойствие е наш приоритет.
                        Професионална психотерапия и психологическа подкрепа за
                        деца, младежи, възрастни и
                        семейства.
                    </p>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1"
                           routerLink="/home"><i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1"
                           routerLink="/home"><i class="fab fa-youtube"></i>
                        </a>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1"
                           routerLink="/home"><i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn-square btn btn-primary text-white rounded-circle mx-1"
                           routerLink="/home"><i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Бързи връзки</h4>
                    <a routerLink="/home">
                        <i class="fas fa-angle-right me-2"></i> Начало
                    </a>
                    <a routerLink="/about">
                        <i class="fas fa-angle-right me-2"></i> За нас
                    </a>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Услуги
                    </a>
                    <a routerLink="/therapists">
                        <i class="fas fa-angle-right me-2"></i> Екип
                    </a>
                    <a routerLink="/home">
                        <i class="fas fa-angle-right me-2"></i> Контакти
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Услуги</h4>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Индивидуална
                        терапия
                    </a>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Семейно
                        консултиране
                    </a>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Детска
                        психотерапия
                    </a>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Терапия за
                        тийнейджъри
                    </a>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Тревожност и
                        депресия
                    </a>
                    <a routerLink="/therapy-types">
                        <i class="fas fa-angle-right me-2"></i> Житейски кризи
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Контакт</h4>
                    <a routerLink="/home">
                        <i class="fa fa-map-marker-alt me-2"></i> ул. Цар Борис
                        №12, гр. Бургас
                    </a>
                    <a routerLink="/home">
                        <i class="fas fa-envelope me-2"></i>
                        {{'info@harmonia.bg'}}
                    </a>
                    <a routerLink="/home">
                        <i class="fas fa-phone me-2"></i> +359 888 123 456
                    </a>
                    <a routerLink="/home"
                       class="mb-3">
                        <i class="fas fa-calendar me-2"></i>Пон.–Пет.: 9:00 –
                        18:00
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->