<header [class.scrolled]="isScrolled()">
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0 align-items-center" style="height: 45px;">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <a class="text-light me-4" routerLink="/home">
                        <i class="fas fa-phone-alt text-primary me-2"></i>+359 888 123 456</a>
                    <a class="text-light me-0" routerLink="/home"><i
                           class="fas fa-envelope text-primary me-2"></i>{{'info@harmonia.bg'}}</a>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex align-items-center justify-content-end">
                    <a class="btn btn-light btn-square border rounded-circle nav-fill me-3" routerLink="/home">
                        <i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-light btn-square border rounded-circle nav-fill me-3" routerLink="/home">
                        <i class="fab fa-youtube"></i></a>
                    <a class="btn btn-light btn-square border rounded-circle nav-fill me-3" routerLink="/home">
                        <i class="fab fa-instagram"></i></a>
                    <a class="btn btn-light btn-square border rounded-circle nav-fill me-0" routerLink="/home">
                        <i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0"
             [class.scrolled]="isScrolled()">
            <a routerLink="/home" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fas fa-dove"></i> Хармония</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                @if(isAuthenticated()){
                <div class="navbar-nav ms-auto py-0">
                    <a routerLink="/profile" class="nav-item nav-link profile" routerLinkActive="active">
                        @if(currentUser()?.profilePictureUrl){
                        <img class="profile-picture" [src]="currentUser()?.profilePictureUrl" alt="">
                        }
                        @else {
                        <img class="profile-picture" src="img/no-profile.jpg" alt="">
                        }
                        Здравейте, {{currentUser()?.fullName}}!
                    </a>
                </div>
                }
                <div class="navbar-nav ms-auto py-0">
                    <a routerLink="" class="nav-item nav-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">Начало</a>
                    <a routerLink="/therapists" class="nav-item nav-link" routerLinkActive="active">Терапевти</a>
                    <a routerLink="/therapy-types" class="nav-item nav-link" routerLinkActive="active">Терапии</a>
                    <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">За нас</a>
                    @if(isAdministrator()){
                    <a routerLink="/administration/users" class="nav-item nav-link"
                       routerLinkActive="active">Администриране</a>
                    }
                    @if(isAuthenticated()){
                    <a (click)="logout()" class="nav-item nav-link" style="cursor: pointer;">Изход</a>
                    }@else {
                    <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active">Регистрация</a>
                    <a (click)="openLoginModal()" class="nav-item nav-link" style="cursor: pointer;">Вход</a>
                    }
                </div>
                <a href="#"
                   class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0">Запазете
                    час</a>
            </div>
        </nav>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Login Modal -->
    @if(showLoginModal()) {
    <app-login (modalClosed)="closeLoginModal()"></app-login>
    }
</header>