<div id="carouselTop" class="header-carousel carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/carousel-1.jpg" class="d-block w-100" alt="Терапевтичен Център Хармония">
            <div class="carousel-caption">
                <div class="carousel-caption-content p-3">
                    <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Терапевтичен
                        Център</h5>
                    <h1 class="display-1 text-capitalize text-white mb-4">Пътят към вътрешен мир</h1>
                    <p class="mb-5 fs-5">Вие сте важни. Не оставайте сами в трудностите. В Център Хармония ще
                        откриете разбиране и професионална подкрепа.
                        Потърсете ни!
                    </p>
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Запазете час</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/carousel-2.jpg" class="d-block w-100" alt="Терапевтичен Център Хармония">
            <div class="carousel-caption">
                <div class="carousel-caption-content p-3">
                    <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">
                        Терапевтичен
                        Център</h5>
                    <h1 class="display-1 text-capitalize text-white mb-4">Пътят към вътрешен мир</h1>
                    <p class="mb-5 fs-5">Вие сте важни. Не оставайте сами в трудностите. В Център Хармония
                        ще
                        откриете разбиране и професионална подкрепа.
                        Потърсете ни!
                    </p>
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Запазете час</a>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselTop" data-bs-slide="prev">
    <div class="owl-prev"><i class="bi bi-arrow-left"></i></div>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselTop" data-bs-slide="next">
    <div class="owl-prev"><i class="bi bi-arrow-right"></i></div>
</button>