<div class="pager">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': !hasPreviousPage}">
                <button class="page-link" type="button" [disabled]="!hasPreviousPage"
                        (click)="onPreviousPageClick($event)">
                    << </button>
            </li>
            @for (pageNum of pages(); track $index) {
            <li class="page-item" [ngClass]="{'active': pageNum === page}">
                <button class="page-link" type="button" [attr.aria-label]="'Отиди на страница ' + pageNum"
                        [disabled]="pageNum === page" (click)="onPageClick(pageNum, $event)">{{pageNum}}</button>
            </li>
            }
            <li class="page-item" [ngClass]="{'disabled': !hasNextPage}">
                <button class="page-link" type="button" [disabled]="!hasNextPage" (click)="onNextPageClick($event)"> >>
                </button>
            </li>
        </ul>
    </nav>

    <div class="page-size">
        <label for="page-size" class="form-label">Размер на
            страницата</label>
        <select class="form-select" name="page-size" id="page-size" [value]="pageSize" aria-readonly="false"
                (change)="onPageSizeChange($event)">
            @for (size of pageSizes(); track size) {
            <option [value]="size" [selected]="size === pageSize">{{ size }}</option>
            }
        </select>
    </div>
</div>