<div class="container-fluid mt-4 mb-3 mx-auto">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="common-container">
                <div class="common-header">
                    <h1>Администриране на потребители</h1>
                    <p>Управление на потребителски профили и роли</p>
                </div>
                @if (isLoading()) {
                <div
                     class="loading-container d-flex justify-content-center align-self-center">
                    <app-spinner />
                </div>
                }
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Име</th>
                            <th scope="col">Презиме</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Роли</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (usersPagedList()?.items &&
                        usersPagedList()!.items.length > 0) {
                        @for (user of usersPagedList()!.items; track user.id) {
                        <tr app-user-table-row
                            [index]="pageOffset() + $index  + 1"
                            [user]="user"
                            (delete)="onDeleteClick(user)"></tr>
                        }
                        } @else {
                        <tr>
                            <td colspan="6"
                                class="text-center">
                                @if (usersPagedList() === null) {
                                <i class="fas fa-spinner fa-spin"></i>
                                Зареждане...
                                } @else {
                                Няма намерени потребители
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <app-pager [pager]="usersPager()"
                           [pageSizes]="pageSizes"
                           (pageSizeChange)="onPageSizeChange($event)"
                           (pageChange)="onPageChange($event)" />
            </div>
        </div>
    </div>
</div>
<app-confirmation-modal [isVisible]="showDeleteModal()"
                        title="Изтриване на потребител"
                        message="Сигурни ли сте, че искате да изтриете профила на '{{clickedUser()?.fullName}}'?"
                        warningText="Това действие е необратимо! Всички ваши данни ще бъдат изтрити завинаги."
                        confirmText="Изтрий профила"
                        cancelText="Отказ"
                        (confirm)="onConfirmDelete()"
                        (cancel)="onCancelDelete()">
</app-confirmation-modal>